:root{
    --primarycolor: orange;
    --secondcolor: rgba(0, 0, 255, 0.464);
}

*{
    max-width: 1200px;
    margin: auto;
}

body {
    margin: 0;
    font-family: Raleway, sans-serif;
}

.bodyback{
    background: var(--primarycolor) url("https://thumbs.dreamstime.com/b/art%C3%ADculos-pl%C3%A1sticos-del-hogar-100509801.jpg?w=768") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.logoyes{
    display: flex;
    border-bottom: 1px solid black;
}
  
.logoimg{
    margin-right: -50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topnav {
    overflow: hidden;
    background-color: var(--secondcolor);
}
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid black;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: var(--secondcolor);
    color: white;
}
  
.topnav .icon {
    display: none;
}

.titlename{
    text-align: center;
    font-size: 90px;
}

.descripp{
    text-align: center;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--secondcolor);
    margin-left: 200px;
    margin-right: 200px;
}

.newsletter{
    text-align: center;
    background-color: #ffffff00;
    padding: 25px;
}

.th2n{
    padding: 15px;
    font-size: 20px;
}

.formula{
    display: grid;
}

.fullname{
    width: 300px;
    padding: 8px;
}

#telefono{
    width: 300px;
    padding: 8px;
}

.buttonsubs{
    width: 250px;
    border-radius: 5px;
}

.buttonpro{
    text-align: center;
    background-color: var(--secondcolor);
    margin-left: 350px;
    margin-right: 350px;
    font-weight: bold;
}

.linkpro{
    text-decoration: none;
    background-color: var(--primarycolor);
    border-radius: 2px;
    margin-top: 100px;
}

.yeardate{
    text-align: center;
}


.conandabo{
    display: grid;
    grid-template-columns: 600px 600px;
    text-align: center;
}

.titleabo{
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
    color: var(--secondcolor);
    border-bottom: 1px solid var(--secondcolor);
    margin-right: 150px;
    margin-left: 150px;
}

.descripabout{
    padding-bottom: 15px;
    padding-top: 5px;
}

.storeinter{
    border-radius: 15px;
    box-shadow: 0 0 10px var(--secondcolor);
}

#contac{
    color: var(--primarycolor);
    font-weight: bold;
    font-size: 40px;
    border-bottom: 1px solid var(--primarycolor);
    padding-top: 10px;
    margin-bottom: 15px;
    margin-right: 150px;
    margin-left: 150px;
}

#address, #phone, #email{
    font-weight: bold;
}

.sendus{
    padding-bottom: 7px;
}

.email2{
    padding-bottom: 10px;
}

.debajomap{
    font-style: italic;
    font-size: 12px;
    text-align: initial;
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .conandabo{
        grid-template-columns: none;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}