:root{
    --primary-color: rgb(79, 1, 79);
    --secondary-color: rgb(234, 218, 234);
}

*{
    max-width: 450px;
    margin: auto;
}

header{
    background-color: var(--primary-color);
    padding: 10px;
    margin: 10px;
}

h1{
    color: white;
    font-size: 23px;
    text-align: center;
    font-family:Raleway, sans-serif;
}

main{
    background-color: var(--secondary-color);
    margin: 10px;
    padding: 15px;
    font-family:Raleway, sans-serif;
    border-radius: 5px;
}

.productname{
    font-weight: bold;
    font-size: 12px;
}

#product{
    padding: 5px;
    padding-right: 250px;
}