*{
    max-width: 900px;
    margin: auto;
}

.titulo{
    text-align: center;
    color: white;
    background-color: rgb(192, 20, 20);
    padding: 25px;
    font-size: 20px;
}

.picture{
    padding-top: 15px;
    background-color: green;
}